.view-attendance {
    width:100%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 2em;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table th {
    line-height: 2em;
    font-size: 1.4em;
    border-bottom: 3px solid var(--main-accent-color-70);
}

.table td {
    line-height: 3em;
}

.table tr:nth-child(even) {
    background-color: var(--main-accent-color-10);
}

.table tr:nth-child(odd) {
    background-color: var(--main-accent-color-20);
}

.table tr:first-child {
    background-color: white;
}