.view-timesheet-container {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
.add-timesheet {
    width: 100%;
    padding: 1em 0em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.add-timesheet-btn {
    padding: 1em 2em;
    border: none;
    background-color: var(--secondary-accent-color);
    color: white;
    border-radius:1em ;
}

.view-timesheet {
    width: 100%;
    display: flex;
}

.view-timesheet table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.fa-pencil {
    color: var(--secondary-accent-color);
}
.fa-envelope {
    color: var(--secondary-accent-color-green);
}

.fa-eraser {
    color: var(--secondary-accent-color-red);
}

i {
    margin: 0em 1em;
    cursor: pointer;
}

.action {
    display: flex;
    align-items: center;
    height: 3em;
    justify-content: center;
}

table th {
    line-height: 2em;
    font-size: 1.4em;
    border-bottom: 3px solid var(--main-accent-color-70);
}

table td {
    line-height: 3em;
}

table tr:nth-child(even) {
    background-color: var(--main-accent-color-10);
}

table tr:nth-child(odd) {
    background-color: var(--main-accent-color-20);
}

table tr:first-child {
    background-color: white;
}