/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;400;700&display=swap');
:root {
    --main-accent-color : #4169E1;
    --secondary-accent-color : #8DA5ED;
    --main-accent-color-90  : rgba(65, 105, 225, 0.9); 
    --main-accent-color-80  : rgba(65, 105, 225, 0.8); 
    --main-accent-color-70  : rgba(65, 105, 225, 0.7); 
    --main-accent-color-60  : rgba(65, 105, 225, 0.6); 
    --main-accent-color-50  : rgba(65, 105, 225, 0.5); 
    --main-accent-color-40  : rgba(65, 105, 225, 0.4); 
    --main-accent-color-30  : rgba(65, 105, 225, 0.3); 
    --main-accent-color-20  : rgba(65, 105, 225, 0.2); 
    --main-accent-color-10  : rgba(65, 105, 225, 0.1);
    --main-input-border-accent-100 : rgba(65, 105, 225, 1.0); 
    --main-input-border-accent-90  : rgba(65, 105, 225, 0.9); 
    --main-input-border-accent-80  : rgba(65, 105, 225, 0.8); 
    --main-input-border-accent-70  : rgba(65, 105, 225, 0.7); 
    --main-input-border-accent-60  : rgba(65, 105, 225, 0.6); 
    --main-input-border-accent-50  : rgba(65, 105, 225, 0.5); 
    --main-input-border-accent-40  : rgba(65, 105, 225, 0.4); 
    --main-input-border-accent-30  : rgba(65, 105, 225, 0.3); 
    --main-input-border-accent-20  : rgba(65, 105, 225, 0.2); 
    --main-input-border-accent-10  : rgba(65, 105, 225, 0.1);
    --shadow-60 : rgba(0,0,0,0.6);
    --shadow-50 : rgba(0,0,0,0.5);
    --shadow-40 : rgba(0,0,0,0.4);
    --shadow-30 : rgba(0,0,0,0.3);
    --shadow-20 : rgba(0,0,0,0.2);
    --shadow-10 : rgba(0,0,0,0.1);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
body{
    height: 100vh;
}
.flex-vertical { 
    display: flex;
    flex-direction: column;
}

.flex-vertical-center {
    align-items: center;
}

button {
    cursor: pointer;
}

.flex{
    display: flex;
}

.flex-align-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--main-accent-color-60);
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-color-80);
  }

  .fa-solid {
     color: white;
  }
