.header {
    height: 64px;
    box-shadow: 0 0 1em 0 var(--shadow-60);
    background-color: var(--main-accent-color);

}

.brand-logo {
    width:  2em;
    height: 2em;
    margin: 0 1em;
}

.header-main {
    flex :1;
}

.header-user-logo {
    width: 1.8em;
    height: 1.8em;
    margin: 0 1em;
    border-radius: 50%;
    border: 0.2em solid white;
}

/* .container {
    height: calc(100vh - 64px);
} */

.side-bar {
    background-color: var(--main-accent-color-40);
}

.nav-item {
    line-height: 4em;
    position: relative;
}

.nav-item:first-child {
    margin-top: 1em;
}
.nav-item:hover {
    background-color: var(--secondary-accent-color);
}
.nav-item:hover > .nav-text {
    width: 10em;
    padding: 0 1em;
}
 
.nav-logo {
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-text {
    position: absolute;
    left: 3.4em;
    width: 0;
    overflow: hidden;
    padding:0;
    top: 0;
    bottom: 0;
    border-radius: 0 1em 1em 0;
    color: white;
    font-size: 1.2em;
    background-color: var(--main-accent-color-60);
    transition: 200ms;
}

.dashboard-icon {
    font-size: 1em;
    margin: 1.5em;
}

.nav-active {
    background-color:  var(--secondary-accent-color);
}
.main {
    height: calc(100vh - 64px);
    overflow-y: scroll;
    flex: 1;
}